:root{
    /* Основные шрифты */
    --main-font: "Roboto" , sans-serif;
    --secondary-font: "Raleway" , sans-serif;



    /* Основные цвета */
    --primery-text-color: #757575;
    --primery-white-color: #ffffff;
    --primery-title-color: #212121;
    --accent-color: #2196f3;
}    

   /*body*/
body {
    font-family: var(--main-font);
    color: var(--primery-title-color);
    background-color: var(--primery-white-color);
}

/*head*/
/*logo*/

.logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    text-decoration: none;
}
.logo-first-part {
    color: var(--accent-color);}
.logo-second-part {
     color: var(--primery-title-color);
}
.logo-first-part:hover, .logo-second-part:hover,
.logo-first-part:focus, .logo-second-part:focus {
    font-size: 26px;
    line-height: 1.14;
    color: var(--accent-color);
}

/*nav*/
.nav{font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.14;
}

.nav-link-stydio, .nav-link-portfolio, .nav-link-contact {
    text-align: left;
    color: var(--primery-title-color);   
}
.nav-link-stydio:focus, .nav-link-portfolio:focus, .nav-link-contact:focus,
.nav-link-stydio:hover, .nav-link-portfolio:hover, .nav-link-contact:hover {
    color: var(--accent-color);
}

   
/*contact*/
.contact-link-mailto , .contact-link-tel {
    color: var(--primery-text-color);
}

.contact-link-mailto:hover , .contact-link-tel:hover,
.contact-link-mailto:focus , .contact-link-tel:focus
{
    color: var(--accent-color);
}


/*section hero*/

.hero{
    background-color: #2F303A;
    color: var(--primery-white-color);
    text-align: center;
}


.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/*hero-button*/

.hero-button {
    font-family: inherit;
    color: var(--primery-white-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    cursor: pointer;  
    text-align: center;

}


/*section team*/
.team {
    background-color: #F5F4FA;
    line-height: 1.18
}

.product-title, .team-title{   
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}
.teammate-name{
    font-weight: 500;
    font-size: 16px;
}



/*portfolio filter*/

.page-filters-btn{
    font-family: inherit;
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    cursor: pointer;
}
.page-filters-btn:hover ,
.page-filters-btn:focus
{
    background: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
    0px 1px 2px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);

}
 
/*work examples*/
.page-item-link{
    color: var(--pimery-title-color);
}

.page-subtitle{
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.page-text{
    font-size: 16px;
    line-height: 1.87}


    /*footer*/

.footer{
    background-color: #2F303A;
}


.footer-logo{
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;}

.footer-logo-first-part {
    color: var(--accent-color);}
.footer-logo-second-part{
    color: var(--primery-white-color);
}
.footer-logo-first-part:hover , .footer-logo-second-part:hover,
.footer-logo-first-part:focus , .footer-logo-second-part:focus{
    color: var(--accent-color);
}

/*adress*/

.footer-adress-link{
    color: var(--primery-white-color);
    font-size: 14px;
    line-height: 1.71;  
}

.footer-mail-link , .footer-tel-link{
    color: rgba(255, 255, 255, 0.6); 

}
.footer-adress-link:hover, .footer-mail-link:hover, .footer-tel-link:hover,
.footer-adress-link:focus, .footer-mail-link:focus, .footer-tel-link:focus{
    color: var(--accent-color);
}





